In [16]:
import sys
sys.path.append('../../src')

import pandas as pd

from run import run
from utils import save_all_columns


train = pd.read_csv('../../data/train.csv')
test = pd.read_csv('../../data/test.csv')
anime = pd.read_csv('../../data/anime.csv')
profile = pd.read_csv('../../data/profile.csv')

In [17]:
# test の user の unseen で分割
test_seen = test[test["user"].isin(train["user"])].reset_index(drop=True)
test_unseen = test[~test["user"].isin(train["user"])].reset_index(drop=True)

In [18]:
# rename test-seen, add prefix
test_seen = test_seen.rename(columns=(lambda x: "test_seen_" + x))
test_unseen = test_unseen.rename(columns=(lambda x: "test_unseen_" + x))

In [19]:
test_seen

      test_seen_user  test_seen_anime_id      test_seen_ID
0         df5ce90323                2191   df5ce90323/2191
1         fd47680337               12355  fd47680337/12355
2         8bfc6cea02                3287   8bfc6cea02/3287
3         5ba4de2706                5114   5ba4de2706/5114
4         6f78771003               33966  6f78771003/33966
...              ...                 ...               ...
22124     513878a55e                2501   513878a55e/2501
22125     f60d21c6ff               34914  f60d21c6ff/34914
22126     76b6afecea                1606   76b6afecea/1606
22127     ae8792e8c9               14467  ae8792e8c9/14467
22128     633644c951               11759  633644c951/11759

[22129 rows x 3 columns]

In [20]:
test_unseen

     test_unseen_user  test_unseen_anime_id    test_unseen_ID
0          3c42dd1ca5                 37438  3c42dd1ca5/37438
1          f7086fba78                 30694  f7086fba78/30694
2          447c01a6a6                  4304   447c01a6a6/4304
3          a3d91316d0                 31798  a3d91316d0/31798
4          36c80f014d                  7079   36c80f014d/7079
...               ...                   ...               ...
3036       e0f631a0ae                 12175  e0f631a0ae/12175
3037       ae9a32c26b                    94     ae9a32c26b/94
3038       aa8ff6b83f                 28223  aa8ff6b83f/28223
3039       fd08ce7650                  1457   fd08ce7650/1457
3040       1efa7f7adc                  9989   1efa7f7adc/9989

[3041 rows x 3 columns]

In [21]:
save_all_columns(test_seen, feature_type="test")

save columns: 100%|██████████| 3/3 [00:00<00:00, 55.63it/s, save test_seen_ID]

In [22]:
save_all_columns(test_unseen, feature_type="test")

save columns: 100%|██████████| 3/3 [00:00<00:00, 583.43it/s, save test_unseen_ID]